@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>Dashboard MiniShop</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
          rel="stylesheet" />
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <!-- Navbar Brand
        <a class="navbar-brand ps-3" href="index.html">Dashboard Page</a> -->
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand ps-3" href="">MiniShop</a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @* <div class="input-group">
                <input class="form-control" type="text"
                       placeholder="Search for..." aria-label="Search for..."
                       aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch"
                        type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div> *@
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown"
                   href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!" id="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark"
                 id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Dashboard</div>
                        <a class="nav-link" href="TrangThai/Index" id = "trangthai">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tasks"></i>
                            </div>
                            Quản lý trạng thái
                        </a>
                        <a class="nav-link" href="Loai/Index" id="loai">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tags"></i>
                            </div>
                            Quản lý loại
                        </a>
                        <a class="nav-link"
                           href="NhaCungCap" id="nhacungcap">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-truck"></i>
                            </div>
                            Quản lý nhà cung cấp
                        </a>
                        <a class="nav-link" href="KhuyenMai/Index" id="khuyenmai">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            Quản lý khuyến mãi
                        </a>
                        <a class="nav-link" href="HangHoa/Index" id="hanghoa">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-box"></i>
                            </div>
                            Quản lý hàng hóa
                        </a>
                        <a class="nav-link" href="HoaDon/Index" id="hoadon">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-receipt"></i>
                            </div>
                            Quản lý hóa đơn
                        </a>
                        <a class="nav-link" href="NhapKho/Index" id="nhapkho">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-arrow-down"></i>
                            </div>
                            Quản lý nhập kho
                        </a>
                        <a class="nav-link" href="TonKho/Index" id="tonkho">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-archive"></i>
                            </div>
                            Quản lý tồn kho
                        </a>
                        <a class="nav-link"
                           href="LichSuGiaoDich/Index" id="lichsugiaodich">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-history"></i>
                            </div>
                            Quản lý lịch sử giao dịch
                        </a>
                        <a class="nav-link" href="User/Index" id="user">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            Quản lý người dùng
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">WebMiniShop - Admin</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="card mb-4">
                        <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Danh sách
                            </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
              
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/Dashboard.js"></script>
</body>
</html>

