

@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu";
}

<form asp-action="ResetPassword" method="post">
                <span class="login100-form-title">Reset Password</span>

                <div class="wrap-input100 validate-input" data-validate="New password is required">
                    <input class="input100" type="password" name="newPassword" placeholder="New Password" required />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Confirm password is required">
                    <input class="input100" type="password" name="confirmPassword" placeholder="Confirm Password" required />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Reset Password</button>
                </div>

                <div class="text-center p-t-136">
                    <a href="@Url.Action("Login", "Account")" class="txt2">Cancel</a>
                </div>
            </form>
       
