@model PaginatedList<HangHoaVM>

@{
    ViewData["Title"] = "Shop";
    Layout = "_LayoutHangHoa";
}
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                           aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->

@section BreadCum {
    <div class="container-fluid page-header py-5 bg-primary">
        <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
                <a asp-controller="Home" class="text-white">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Page" class="text-white ">Pages</a>
            </li>
            <li class="breadcrumb-item active text-white">Shop</li>
        </ol>
    </div>

}


@await Html.PartialAsync("_HangHoaItem")
<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="#" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.pagination').on('click', 'a', function (e) {
                e.preventDefault();
                var page = $(this).data('page');
                $.ajax({
                    url: '@Url.Action("Paginate", "HangHoa")',
                    data: { page: page },
                    success: function (result) {
                        $('#hangHoaContainer').html(result);
                    }
                });
            });
        });
    </script>
}
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->


