<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMiniShop</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand ps-3" href="#">MiniShop</a>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!" id="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Dashboard</div>
                        <a class="nav-link" asp-area="Admin" asp-controller="TrangThai" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                            Quản lý trạng thái
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Loai" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                            Quản lý loại
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="NhaCungCap" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                            Quản lý nhà cung cấp
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="KhuyenMai" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-bullhorn"></i></div>
                            Quản lý khuyến mãi
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="HangHoa" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Quản lý hàng hóa
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="HoaDon" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                            Quản lý hóa đơn
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="NhapKho" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-arrow-down"></i></div>
                            Quản lý nhập kho
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="TonKho" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                            Quản lý tồn kho
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Quản lý người dùng
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto"></footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/Dashboard.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
